[submodule "external/spirv_cross"]
	path = Vortx/external/spirv_cross
	url = https://github.com/KhronosGroup/SPIRV-Cross
[submodule "third_party/VulkanMemoryAllocator"]
	path = third_party/VulkanMemoryAllocator
	url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator.git
